@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: all .3s;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

html{
    font-size: 65.5%;
}

.header{
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0 auto;
    position: relative;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
.logo{
    margin-right: auto;
}
.logo_name{
    font-size: 3rem;   
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li  i{
    margin-left:.4rem ;
    cursor: pointer;
    z-index: 2;
}
.navbar ul li  i:hover{
    color: green;
}
.navbar .sub_link{
    position: absolute;
    top: 99%;
    /* display: flex;
    flex-direction: column; */
    width: 20rem;
    display: none;
    z-index: 1100;
}
.sub_link li{
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    z-index: 100;
}
.sub_link li:hover{
    background-color: lightgrey;
}
.sub_link li a:hover{
    color: green;
}

.link:hover{
  color: green;
}
.navbar ul li{
    position: relative;
    font-size: 1.5rem;
    padding: 1.5rem;
}
.icon_container i{
    font-size:2.3rem ;
    /* margin-right: 1rem; */
    padding: 0 1rem;
    cursor: pointer;
    transition: all .1s;
}
.icon_container i:hover{
    transform: scale(120%);
    color: green;
}
#menu_btn{
    display: none;
}
.search_form{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: none;
    z-index: 900;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}
.search_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    border-radius:.7rem ;
    border: 1px solid black;
}

.search_box input {
    width: 98%;
    margin-right: 1rem;
    padding: .2rem;
    font-size: 1.7rem;
    line-height: 1.5;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}
.search_box i{
    font-size: 2.5rem;
}
.search_form.active{
    display: block;
}
.slide{
    background-size: cover;
    min-height: 60vh;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    display: none;
    position: relative;
    z-index: 2;
}
.slide::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
.slide h3{
    font-size:2.5rem ;
    color: white;
    padding: .7rem 0;
}
.slide.active{
  display: block;
  display: flex;
    align-items: center;
}
.slide p{
    font-size: 1.5rem;
    color: white;
    padding: .7rem 0;
}
.slide button{
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    outline: none;
    border: .1rem solid black;
    cursor: pointer;
    margin: 1rem 0;
}
.slide button:hover{
    background-color: black;
    color: white;
}

.banner{
    padding: 2rem 9%;
}
.banner .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}
.banner .row .box{
    text-align: center;
    border-radius: .7rem;
    border: 1px solid black;
}
.banner .heading{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}
.banner .content{
    padding: 2rem;
}
.banner .row img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: .7rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.banner p{
    font-size: 1.5rem;
}
.banner h3{
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: .7rem;
}

.footer{
    padding: 1rem 9% ;
    background-color: whitesmoke;
}
 .footer .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    margin: 0 auto;
    gap: 1rem;
    border-bottom: 0.2rem solid black;
}
.footer .box i{
    display: block;
    padding: 1.5rem 0;
}
.footer .box h3{
    font-size: 1.7rem;
    /* color: palevioletred; */
}
.footer .box p{
  font-size: 1.4rem;
  padding: 1rem 0;
}
.footer .box i{
    font-size: 1.5rem;
}
 .footer .box i a{
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    font-weight: bold;
}
.footer .box a:hover{
    padding: 1rem 1.9rem;
    color: rgb(226, 85, 163);
}
 .footer .box input{
    display: block;
    width: 100%;
    padding: 1rem ;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.box button{
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    outline: none;
    border: .1rem solid black;
    cursor: pointer;
    margin-bottom: 1rem ;
}
.box button:hover{
    background-color: black;
    color: white;
}

.credit{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.credit span{
    font-weight: bolder;
}
.credit span{
    font-weight: bolder;
}


.heading_section{
    text-align: center;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading_section .heading{
    font-size: 3rem;
    color: white;
    /* padding: 3% 0; */
    line-height: 3;
}
.product{
    padding: 3rem 9%;
    text-align: center;
}
.product .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 3rem;
}
.product .row .box{
    border: 1px solid black;
}
.product .row .box .content{
    padding: .7rem 0;
}
.product .row .box img{
    width: 100%;
}
.product .row .box h3{
    font-size: 2.5rem;
   padding: .5rem;
}
.product .row .box i{
    font-size: 1.5rem;
    color: rgb(228, 62, 173);
    line-height: 1.6;
    padding: .5rem .2rem;
}
.product .row .box p{
    font-size: 2rem;
    line-height: 1.6;
    padding: .5rem;
}
.product .row .box p span{
    color: grey;
    text-decoration: line-through;
    font-size: 1.3rem;
}

.my_product{
    padding: 3rem 9%;
}
.my_product .row{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem ,1fr));
    gap: 2rem;
    text-align: center;
}
.my_product .row .box{
    border: 1px solid black;
    display: flex;
    align-items: center;
    /* position: relative; */
}
.my_product .row .box img{
    width: 45%;
    height: 100%;
}
.my_product .row .box .content{
    padding: .7rem .8rem;
    position: relative;
}
.my_product .row .box i{
    font-size: 1.7rem;
    position: absolute;
    right: 1rem;
    
}
.my_product .row .box h3{
    font-size: 1.8rem;
    padding: .7rem 0;
    margin-top: .4rem;
}
.my_product .row .box p{
    font-size: 1.8rem;
    padding: .7rem 0;
    
}
.my_product .row .box p span{
    font-size: 1.5rem;
    color: grey;
    text-decoration: line-through;
}
.my_product .row .box .quantity{
    display: flex;
}
.my_product .row .box .quantity p{
    font-size: 1.3rem;
    padding: .7rem 0 ;
    padding-right: .7rem;
}
.my_product .row .box .quantity input{
    width: 100%;
    padding: 0 .4rem;
    font-size: 1.3rem;
    color: black;
}


.about{
    padding: 2rem 9%;
    
}
.about .heading{
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
    /* margin-bottom: 3rem; */
    color: rgb(218, 42, 174);
    
}
.about .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    /* gap: 3rem; */
}
.about .row .box{
    padding: 2rem;
}
.about .row .box img{
    width: 100%;
}
.about .row .box h3{
    font-size: 2.9rem;
    margin-bottom: 2rem;
}
.about .row .box p{
    font-size: 1.2rem;
    line-height: 2.6;
    margin-bottom: 2rem;
}

.contact{
    padding: 2rem 9%;
}

.contact .heading{
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(218, 42, 174);  
}
.contact .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 3rem ;
}
.contact .row .box{
    padding: 2rem;
    border: 1px solid black;
}
.contact .row .box input{
    display: block;
    margin: 2rem 0;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 1.3rem;
}
.contact .row .box textarea{
    display: block;
    width: 100%;
    margin: 2rem 0;
}
.contact .row .box:nth-child(1){
    border: none;
    padding: 0;
}
.contact .row .box img{
    width: 100%;
}
.user{
    padding: 2rem 9%;
    text-align: center;
}
.user .box{
    padding: 2rem;
    border: 1px solid black;
    display: inline-block;
    border-radius: .7rem;
}
.user h1{
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(218, 42, 174); 
}
.user .input{
    margin: 2rem 0;
    font-size: 1.5rem;
    display: flex;
}
.user .input i{
    font-size: 2rem;
    padding: .2rem 1rem;
}
.user .input input{
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    padding: .2rem;
}


.blog{
    padding: 2rem 9%;
}
.blog h1{
    padding: 3rem 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(218, 42, 174);
}
.blog .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem ,1fr));
    gap: 3rem;
}
.blog .row .box{
    border: 1px solid black;
}
.blog .row .box img{
    width: 100%;
}
.blog .row .box .content{
    padding: 1rem 1.3rem;
}
.blog .row .box .content h3{
   font-size: 2rem; 
}
.blog .row .box .content p{
    font-size: 1.2rem;
    line-height: 2;
    padding: .7rem 0;

}

@media(max-width:991px){
    .navbar{
        /* display: none; */
        position: absolute;
        display: none;
        top: 100%;
        width: 100%;
        left: 0%;
        padding: 1rem 9%;
        background-color: white;
        border: 1px solid lightgrey;
    }
    .header{
        position: relative;
        /* text-align: center; */
        position: sticky;
        padding: 1rem 4%;
    }

    .navbar li{
        width: 100%;
        /* border: 1px solid black; */
        border-radius:.7rem ;
        margin: .7rem 0;
    }
    .navbar .sub_link{
        position: relative;
        width: 100%;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar ul li{
        padding: .7rem 1.5rem;
    }
    .link{
        /* display: block; */
    }
    #menu_btn{
        display: initial;
    }
    html{
        font-size: 55.5%;
    }
    .navbar.active{
        display: block;
    }
    .about,.product,.my_product, .user,.contact,.cart,.banner{
        padding: 2rem 4%;
    }

    
}
@media(max-width:461px){
 html{
     font-size: 50%;
 }
}
